* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  margin: 0;
  padding-top: 0;
  background-color: #f5d99e;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;

  min-width: 320px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  float: left;
  margin: 2px;
  padding: 0;
  width: 100px;
  height: 100px;

  border: 1px solid #999;
  border-radius: 10px;
  
  font-size: 80px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;

  background: #ffff;
}

.status {
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
  font-size: 40px;
  text-align: center;
  color: #6e6e6e;
}

.history {
  width: 100%;
}

.history__list {
  list-style: none;
  padding: 0;
}

.history__item{
  display: flex;
  justify-content: center;
}

.history__item:first-child .history__button{
  background-color: #f7ab3a;
  color: white;
}

.history__item:last-child .history__button{
  display: none;
  pointer-events: none;
}

.history__button {
  width: 100%;
  max-width: 300px;
  height: 30px;
  min-width: 150px;
  margin-bottom: 2px;
  color: inherit;
  border: 1px solid #999;
  border-radius: 10px;
  background-color: wheat;
}
